.full_nav {
   border-bottom: 1px solid grey;
}
.head {
   text-align: center;
   margin: 27px;
}
.product_list {
   width: 90vw;
   margin: auto;
}
.addproduct {
   text-align: center;
}
.product_btn {
   border: 1px solid #6c757d;
   text-decoration: none;
   color: black;
   padding: 12px;
   font-size: 10px;
   border-radius: 2px;
}
